body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    font-family:Arial, sans-serif;
    color: black;
    font-size: 24px;
    text-align: center;
}
.container {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 500px;
}
input, button {
    margin: 10px 0;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    font-size: 1em;
}
.input-container {
    align-items: center;
    gap: 10px;
}
input {
    text-align: center;
}
.hidden {
    display: none;
}
#timer {
    font-weight: bold;
    color: red;
}

.score-lives {
    position: absolute; /* Position it within the container */
    bottom: 10px; /* Distance from the bottom of the container */
    right: 10px; /* Distance from the right of the container */
    text-align: right; /* Align the text to the right */
    font-size: 16px; /* Adjust font size as needed */
    background-color: rgba(0, 0, 0, 0.1); /* Optional: add a slight background */
    padding: 5px 10px; /* Optional: add padding for aesthetics */
    border-radius: 5px; /* Optional: rounded corners */
}